<div>
<h3>Enter your names below.</h3>
  <form action="/names" method="post">
    <label for="player_1">Player 1:</label><br>
    <input type="text" name="player_1_name"><br><br>

    <label for="player_2">Player 2:</label><br>
    <input type="text" name="player_2_name"><br><br>
    
    <input type="submit" value="Submit">
  </form>
</div>