<% confirmed_hit = false %>

<div>
  <p>Player 1: <%= $game.player_1.name %>, HP: <%= $game.player_1.hp %></p>
</div>

<div>
  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>

<div>
  <p>Player 2: <%= $game.player_2.name %>, HP: <%= $game.player_2.hp %></p>
</div>